body{
    background-color: lightgray;
}
.container{
    margin: 0 auto;
}
aside{
    width: 250px;
    float: left;
    padding-left: 10px;
}
#welcome-title, #intro-paragraph{
    text-align: center;
}
input{
    display: block;
    margin-bottom: 10px;
}
textarea{
    width: 200px;
    height: 100px;
}
